<!DOCTYPE html>
<html>
<head>
    <title>Blogs</title>
</head>
<body>
    <h2>Blog List</h2>
    <p>Welcome, {{ user.username }}!</p>
    {% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
    {% endif %}
    <a href="{% url 'blog_create' %}">Create New Blog</a>
    <ul>
        {% for blog in blogs %}
        <li>
            <h3>{{ blog.title }}</h3>
            <p>{{ blog.content }}</p>
            <p>Author: {{ blog.author.username }}</p>
            <a href="{% url 'blog_update' blog.pk %}">Edit</a>
            <form method="post" action="{% url 'blog_delete' blog.pk %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>