asgiref==3.8.1
channels==4.1.0
channels-redis==4.2.0
distlib==0.3.8
Django==5.0.6
django-crontab==0.7.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
env==0.1.0
Faker==25.1.0
filelock==3.13.3
ldap3==2.9.1
Markdown==3.6
msgpack==1.0.8
mysql-connector-python==8.3.0
package_name==0.1
pillow==10.3.0
platformdirs==4.2.0
portalocker==2.10.1
pyasn1==0.6.0
pydirectory==0.1.15
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pywin32==306
redis==5.0.7
six==1.16.0
sqlparse==0.5.0
tzdata==2024.1
virtualenv==20.25.1
virtualenvwrapper-win==1.2.7
